*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

body{
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.margin{
    margin: 2% 0;
}

#logo-img{
    width: 110px;
    border-right: 1px solid rgb(138, 138, 138, .2);
    padding-right: 10px;
    padding-top: 5px;
}

header{
    height: 50px;
}

nav a{
    display: inline-block;
    padding: 15px 5px;
    font-size: small;
    text-decoration: none;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h3 + p, a{
    color: grey;;
}

#banner-img{
    background-image: 
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
    url("../img/banner.jpg");
    height: 350px;
    border-radius: 10px;
    color: white;
    background-position: center;
    min-width: 576px;
}

#caption-container{
    width: 65%;
    padding-left: 40px;
    padding-top: 200px;
    font-size: 1.6em;
}

#sub-header{
    height: 12.6%;
    margin-bottom: 1.4%;
    border-radius: 10px;
}

.fit{
    background-image: 
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        url("../img/img-1.jpg");
    background-size: contain;
    height: 100px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article:nth-child(odd){
    width: 20.2%;
}

article:nth-child(even){
    width: 56.99%;
    margin: 0 1.3%;
}

#first-img{
    background-image: 
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        url("../img/img-1.jpg");
}

#second-img{
    background-image: 
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        url("../img/banner-2.jpg");
}

#third-img{
    background-image: 
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        url("../img/img-3.jpg");
}

footer{
    height: 50px;
    text-align: center;
}

#cuore-rosso{
    color: red;
}
